 title>Hotel Brochure/title>
  style>
  body {
    background-color: #149161;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    
  }

  .container {
    max-width: 1440;
    margin: 0 auto;
    padding: 0 auto;
  }


     
    

    h1 {
      text-align: center;
      color: #fff;
    /* Transparent black background */
      padding: 50px;
    }

    p {
       /* Transparent white background */
      padding: 10px;
    }

    .button {
      display: inline-block;
      padding:20px 30px;
     ; /* Transparent green background */
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s;
      margin-right: 10px;
    }

    .button:hover {
      background-color: rgba(3, 3, 3, 0.8); /* Transparent darker green background on hover */
    }

    .landing-section {
      margin-top: 50px;
      padding: 20px;
      ; /* Transparent white background */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    padding: 50px;
    margin: 0;
  }
  
  p {
    padding: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 50px 50px;
    background-color: rgba(7, 7, 7, 0.8); /* Transparent green background */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: rgba(3, 3, 3, 0.8); /* Transparent darker green background on hover */
  }
  
  .landing-section {
    margin-top: 50px;
    padding: 20px;
  }
  
  ul li a {
    color: rgb(14, 1, 1);
  }

  #back-to-landing-btn {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #back-to-landing-btn:hover {
    background-color: #0056b3;
  }
  

  
 





  


  